[submodule "/Users/jobala/.config/nvim/pack/plugins/start/gruvbox"]
	path = /Users/jobala/.config/nvim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/plugins/start/nvim-lspconfig"]
	path = pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/plugins/start/nvim-autopairs"]
	path = pack/plugins/start/nvim-autopairs
	url = git@github.com:windwp/nvim-autopairs.git
[submodule "pack/plugins/start/lightline.vim"]
	path = pack/plugins/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "pack/plugins/start/vim-javascript"]
	path = pack/plugins/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "pack/plugins/start/nvim-cmp"]
	path = pack/plugins/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
[submodule "pack/plugins/start/cmp-nvim-lsp"]
	path = pack/plugins/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp
[submodule "pack/plugins/start/cmp-buffer"]
	path = pack/plugins/start/cmp-buffer
	url = git@github.com:hrsh7th/cmp-buffer
[submodule "pack/plugins/start/cmp-path"]
	path = pack/plugins/start/cmp-path
	url = git@github.com:hrsh7th/cmp-path
[submodule "pack/plugins/start/lsp_signature.nvim"]
	path = pack/plugins/start/lsp_signature.nvim
	url = git@github.com:ray-x/lsp_signature.nvim.git
[submodule "pack/plugins/start/nord-vim"]
	path = pack/plugins/start/nord-vim
	url = git@github.com:arcticicestudio/nord-vim.git
